<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3 border-info" style="margin-top:100px;">
      <!--ログインしたユーザ情報-->
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1' style="margin-top:80px;">
      <div>
        <div class = "index">
          <%= link_to "大喜利いいねランキング",  favorite_rank_ogiris_path, class: "index_btn" %>
          <%= link_to "お題いいねランキング", odai_favorite_rank_ogiri_odais_path, class: "index_btn" %>
        </div>
        <h3 class = "title-index mb-4">回答いいねランキング</h3>
      </div>
        <!--回答いいねランキング一覧表示-->
        </%= render 'ogiri_odais/answer', ogiri_odai: @ogiri_odai,ogiri_answer: @ogiri_answer %>
    </div>
  </div>
</div>