<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3 border-info" style="margin-top:100px;">
      <%= render 'users/info', user: current_user %>
    </div>
    <div  class='col-md-8 offset-md-1'style="margin-top:80px;">
      <div>
        <div class = "index">
          <%= link_to '大喜利一覧', ogiris_path, class: "index_btn" %>
        </div>
        <h3 class = "title-index mb-4">お題一覧</h3>
      </div>
     <%= render partial: "ogiri_odais/ogiri_odai", collection: @ogiri_odais %>
    </div>
  </div>
</div>