<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3 border-info" style="margin-top:100px;">
      <!--詳細ページに飛んだ、ユーザ情報を表示-->
      <%= render 'users/info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1' style="margin-top:80px;">
      <div>
        <div class = "index">
          <%= link_to '投稿した大喜利', user_path(@user), class: "index_btn" %>
          <%= link_to '投稿した回答', create_answers_user_path, class: "index_btn" %>
        </div>
        <h3 class = "title-index mb-4">投稿したお題</h3>
      </div>
      <!--ユーザが投稿したお題一覧表示-->
      <%= render partial: "ogiri_odais/ogiri_odai", collection: @ogiri_odais %>
    </div>
  </div>
</div>