<div class = "container">
  <div  class = "row">
    <div class = "col-md-3" style="margin-top:150px;">
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      
    </div>
  </div>
</div>