<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3 border-info" style="margin-top:100px;">
      <!--ログインしているユーザ情報-->
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1' style="margin-top:80px;">
      <div>
        <div class = "index">
          <%= link_to "お題いいねランキング", odai_favorite_rank_ogiri_odais_path, class: "index_btn" %>
          </%= link_to "回答いいねランキング", answer_favorite_rank_ogiri_odai_ogiri_answers_path(params[:ogiri_odai_id]), class: "index_btn" %>
        </div>
        <h3 class = "title-index mb-4">大喜利いいねランキング</h3>
      </div>
       <!--投稿された大喜利いいねランキングの一覧表示-->
      <%= render partial: "ogiris/ogiri", collection: @ogiris %>
       <div class="d-flex justify-content-center mt-4 mb-4">
         <%= paginate @ogiris %>
      </div>
    </div>
  </div>
</div>