<div class = "container">
  <div class = "row">
    <div class = "col-md-12 mx-auto">
      <div class = "text-center mt-5 mb-4">
        <div class = "flame-image"  style="width:70%;">
          <%= image_tag "flame.png" %>
          <h1 class = "text-center mb-5">お手軽大喜利</h1>
          <h2>誰でも大喜利を投稿できるSNSです！！</h2>
          <%= link_to ' sign up', new_user_registration_path %>
        </div>
      </div>
    </div>
    <div class = "row col-md-8 mx-auto">
      <div class = "col-md-8 mx-auto">
        <div class = "text-left">
          <%= link_to ' sign up', new_user_registration_path %>
        </div>
        <div class = "text-right">
          <%= link_to ' log in', new_user_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>