<div class = "container">
  <div class = "row">
    <div class = "col-md-12 mx-auto">
      <div class = "text-center mt-5 mb-4">
        <div class = "flame-image"  style="width:70%;">
          <%= image_tag "flame.png" %>
          <h1 class = "text-center mb-5">お手軽大喜利</h1>
          <h2>誰でも大喜利を楽しめるSNSです！！</h2>
          <h3>簡単に大喜利を投稿できたり、
          <br>投稿した大喜利に回答することができます!
          </h3>
          <h4>ログインは<%= link_to 'こちら→',new_user_session_path %></h4>
      </div>
    </div>
  </div>
</div>