<div class = "container">
  <div class = "row">
    <div class = "col-md-12 mx-auto">
      <div class = "text-center mt-5 mb-4">
        <div class = "flame-image"  style="width:70%;">
          <%= image_tag "flame.png" %>
          <h1 class = "text-center mb-5">お手軽大喜利</h1>
          <h2>誰でも大喜利を投稿できるSNSです！！
          　　<br>ログインして始めてみよう
          </h2>
      </div>
    </div>
  </div>
</div>