/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 header{
  background-color:#deb887;
  height:120px;
}
.title{
  color: white;
  font-family: serif;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  border: 10px double #ffffff;
}
.border-header{
  border: 10px double #ffffff;
}

.nav-link{
 font-size: 30px;
}

.title-heading {
    color: white;
    font-family: serif;
    margin: 30px 20px;
    width: 300px;
    text-align: center;
    background: #deb887;
    padding: 0.5em;
    border-radius: 20px;
  }

.btn-entry{
  border:solid 1px #4169e1;
      color:#4169e1;
      background:#ffffff;
}

.border {
     border:solid 1px #4169e1;
     padding:10px;
}

.ogiri-image {
    width:150px;
}