/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 header{
  background-color:#deb887;
  height:120px;
}
/*タイトル（お手軽大喜利）*/
.title{
  color: white;
  font-family: serif;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  border: 10px double #ffffff;
}
/*ヘッダー二重囲み*/
.border-header{
  border: 10px double #ffffff;
}
/*ヘッダー文字大きさ*/
.nav-link{
 font-size: 25px;
}
/*新規登録・ログインタイトル*/
.title-heading {
    color: white;
    font-family: serif;
    margin: 30px 20px;
    width: 300px;
    text-align: center;
    background: #deb887;
    padding: 0.5em;
    border-radius: 20px;
  }
/*登録ボタン*/
.btn-entry{
  border:solid 1px #4169e1;
      color:#4169e1;
      background:#ffffff;
}
/*投稿枠線*/
.border {
    border: solid 1px #4169e1;
    padding: 10px;
}
/*リンクの色*/
.link {
    text-decoration: none;
    color: black ;
}
/*回答の大きさ*/
.answer-size {
    font-family: serif;
    margin-left: 70px;
    width: 500px;
    width: 75%;
    font-size: 20px;
    text-align: center;
    word-break: break-all;
}
/*ユーザ情報*/
.border-info {
    height: 80%;
    width: 100%;
    border:double 5px #4169e1;
    padding-top: 10px;
}
/*コメント投稿*/
.comment {
    border:solid 1px #4169e1;
    box-sizing: content-box;
    width: 50%;
    height: 5%;
    padding: 0px 20px;
    word-break: break-all;
    margin-bottom: 10px;
}
/*紹介説明*/
.introduction {
    margin-top: 20px;
    word-break: break-all;
}
/*5段階評価*/
.rate {
    width: 200px;
    text-align: center;
}
/*コメント投稿者*/
.comment_user {
    width: 100px;
    text-align: center;
}
/*いいね位置*/
.favorite {
  text-align: left;
  margin-left: 10px;

}
/*いいねボタン*/
.like-btn {
  font-size: 15px;
  color: #808080;
}
/*いいね外すボタン*/
.unlike-btn {
  font-size: 15px;
  color: #e54747;
}
/*ユーザ情報*/
.table {
    border: solid 1.5px black;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}
/*コメントテーブル*/
.comment_table {
  width: 100%;
  margin-bottom: 10px;
}

/*検索box*/
.search-form {
    text-align: center;
    margin-top: 20px;
}

.th {
  width: 20%;
}

.td {
  width: 70%;
}
/*大喜利お題フレーム*/
.ogiri-odai-image {
  position: relative;
  width: 410px;
  height: 150px;
  margin: 0px auto 0;
}
/*大喜利お題画像詳細*/
.ogiri-odai-image img {
   width: 100%;
   height: 100%;
   text-align: center;
}
/*大喜利お題投稿お題*/
.ogiri-odai-image p{
    color:  #FA8072;
    font-size: 18px;
    font-family: serif;
    position: absolute;
    text-align: center;
    top: 40%;
    right: 10%;
    left: 10%;
    word-break: break-all;
}
strong {
   color:  #FA8072;
}
/*詳細ページの枠*/
.border-show {
   border: dotted 3px #4169e1;
   padding: 10px;
}
/*一覧リンク*/
.index {
     font-size: 18px;
     margin-bottom: 30px;
     text-align: right;
}
/*一覧ボタン*/
.index_btn {
    border: 7px #FFFFFF;
    border-bottom-style: ridge;
    border-right-style: ridge;
    border-top-style: groove;
    border-left-style: groove;
    text-decoration: none;
    color: white;
    background: darkgray;
    padding: 5px;
    margin-right: 15px;
    border-radius: 20px;
}
/*見出しタイトル*/
.title-index {
    padding: 5px 0 10px 10px;
    border-left: 5px solid darkgray;
	border-bottom: 1px double darkgray;
	font-family:"monospace";
}
/*詳細ページへのリンク*/
.show-page {
    margin-right: 3%;
    float: right;
}