// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .flame-image {
    position: relative;
    width: 600px;
    margin: 120px auto 0;

  }

  .flame-image img{
    width: 700px;
    width: 100%;
  }

  .flame-image h1{
    color: darkgray;
    position: absolute;
    text-align: center;
    top: 20%;
    right: 10%;
    left: 10%;
  }

  .flame-image h2{
    color: darkgray;
    position: absolute;
    text-align: center;
    top: 40%;
    right: 10%;
    left: 10%;
  }