<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3 border-info" style="margin-top:100px;">
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'style="margin-top:80px;">
      <h3 class = "title-index mb-4"> 検索結果一覧</h3>
      <%= render partial: "ogiri_odais/ogiri_odai", collection: @ogiri_odais %>
    </div>
  </div>
</div>